/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "partials/normalize";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
//@import "compass/reset";
//@import "compass_twitter_bootstrap";

// Layout ------------------------------------
$body-width: 960px;
$section-margin: 20px;
$element-border-radius: 5px;
$section-border-radius: 10px;
$example-height: 5em;
$url-height: 1.5em;

// Colors -----------------------------------------
// Light to dark
$color-one: #7c9db6;
$color-two: #6794b6;
$color-three: #2e526d;
$color-four: #0f2f47;
$color-five: #2e4352;

$color-border: $color-two;

$section-opacity: 0.5;

// Mixins ------------------------------------------
@mixin header-shadow {
	@include text-shadow(rgba(#000000, 0.2) 2px 2px 3px);
}

@mixin element-box {
	@include border-radius($element-border-radius);
	@include box-shadow(2px 2px 10px 2px $color-five);
}

@mixin section-box {
	@include border-radius($section-border-radius);
	@include box-shadow(3px 3px 10px 3px $color-five);
}

// Custom fonts ----------------------------------

@font-face {
	font-family: pastel_crayon;
	src: url('/font/pastel_crayon.ttf');
}

@font-face {
	font-family: pointy;
	src: url('/font/pointy.ttf');
}

@font-face {
	font-family: museo_slab;
	src: url('/font/Museo_Slab_300.otf');
	font-weight: normal;
}

@font-face {
	font-family: museo_slab;
	src: url('/font/Museo_Slab_700.otf');
	font-weight: bold;
}

@font-face {
	font-family: museo_sans;
	src: url('/font/MuseoSansRounded-300.otf');
	font-weight: normal;
}

@font-face {
	font-family: museo_sans;
	src: url('/font/MuseoSansRounded-700.otf');
	font-weight: bold;
}

// CSS ----------------------------------------

body {
	@include background(image-url("/img/background.png"));
	#body-inner {
		color: $color-three;
		font-family: museo_sans;
		font-weight: normal;
		background-color: rgba(#ffffff, 0.8);//rgba(255, 255, 255, 0.8);
		.container {
			border: red 1px solid;
			margin-left: auto;
			margin-right: auto;
			width: $body-width;
			overflow: hidden;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	@include header-shadow;
	font-family: museo_slab;
	font-weight: bold;
	text-transform: uppercase;
}

.logo {
	margin: 0;
	padding: 0;
	color: $color-five;
	text-transform: uppercase;
	font-family: pastel_crayon;
	font-weight: bold;
	font-size: 6em;
	#second-word {
		color: $color-one;
	}
}

.tagline {
	@include header-shadow;
	font-size: 1.5em;
	color: $color-three;//#1d7ccc;
	font-weight: bold;
}

section {
	@include section-box;
	margin: $section-margin;
	padding: 20px;
	display: inline-block;
	clear: both;
	background-color: rgba($color-one, $section-opacity);
	&:nth-child(odd) {
		float: left;
	}
	&:nth-child(even) {
		float: right;
	}
	h1 {
		text-align: center;
	}
}

#usage-outer {
	text-align: center;
	position: relative;
	margin-left: $section-margin;
	margin-left: $section-margin;
	padding-left: 0px;
	padding-right: 0px;
	width: $body-width - 2 * $section-margin;
}
#usage {
	.example {
		width: 250px;
		margin: 20px;
		display: inline-block;
		.inner-example {
			width: 250px;
			height: 125px;
			display: inline-block;
			vertical-align: top;

			a {
				@include border-radius($element-border-radius $element-border-radius 0 0);
				@include box-shadow(3px 3px 10px 3px $color-three);
				margin-top: 0;
				margin-bottom: 0;
				display: block;
				background-color: $color-five;
				color: $color-one;
				border-bottom: $color-one 1px solid;
				text-decoration: none;
				padding: ($url-height - 1) / 2;
			}
			p {
				@include border-radius(0 0 $element-border-radius $element-border-radius);
				@include box-shadow(3px 3px 10px 3px $color-three);
				margin-top: 0;
				margin-bottom: 0;
				background-color: $color-three;
				border-top: 0;
				padding: 5px;
				height: $example-height;
			}
		}
	}
}

#sandbox-outer {
	position: relative;
}
#sandbox {
	.arrow {
		@include background(image-url("/img/arrow.png"));
		@include transform(rotate(90deg) scale(0.6));
		width: 301px;
		height: 266px;
		position: absolute;
		top: -60px;
		left: -250px;
	}
	#outer-search {
		#search {
			float: left;
			overflow: hidden;
			height: 100%;
			// TODO: remove harcode
			margin-left: 20px;
			margin-right: 20px;
			padding-left: 10px;
			padding-right: 10px;

			#search-box {
				@include clearfix;
				@include element-box;
				padding: 0px;
				margin-bottom: 10px;
				width: 100%;

				label {
					//@include border-radius($element-border-radius);
					background-color: $color-one;
					color: $color-three;
					padding: 5px;
					margin: 0;
					float: left;
					display: inline-block;
					vertical-align: middle;

					span {
						font-size: 20px;
						height: 40px;
						line-height: 40px;
					}

					input {
						@include border-radius(0 $element-border-radius $element-border-radius 0);
						//background-color: $color-two;
						font-size: 20px;
						height: 40px;
						border: 1px solid $color-five;
						margin: 0;
						outline: none;
						padding: 0;
						padding-left: 5px;

						&:focus, &:active {
							//background-color: $color-one;
						}
					}
				}
			}
			#search-result {
				@include element-box;
				background-color: $color-one;
				color: $color-one;
				background-color: $color-three;
				padding: 5px;
				margin-top: 5px;
				margin-bottom: 5px;
				height: 100px;

				&.error {
					color: red;
				}
			}
		}
		#search-examples {
			@include element-box;
			background-color: $color-one;
			float: left;
			margin-left: 20px;
			margin-right: 20px;
			padding-left: 5px;
			padding-right: 5px;
			h3 {
				margin-top: 0;
				padding-top: 0;
			}
			ul {
				list-style-type: none;
				padding-left: 0;
				li {
					padding: 5px;

					a {
						text-decoration: none;
						color: $color-three;
					}

					&.selected {
						@include border-radius(2px);
						//@include box-shadow(0px 0px 0px 2px #aaaaaa);
						background-color: $color-three;
						a {
							color: $color-one;
						}
					}
				}
			}
		}
	}
}

#reference-outer {
	position: relative;
}
#reference {
	.arrow {
		@include background(image-url("/img/arrow.png"));
		@include transform(rotate(300deg) scale(0.6) scaleX(-1));
		width: 301px;
		height: 266px;
		position: absolute;
		top: -120px;
		right: -300px;
	}
}

footer {
	background-color: #33aaaa;
	height: 100px;
	@include border-radius($section-border-radius $section-border-radius 0 0);
	display: table;
	width: 100%;
}
footer ul {
	display: table-row;
	list-style-type: none;
}
footer ul li {
	display: table-cell;
	text-align: center;
}
